<div class="container">
  <div class="row">
    <div class="col-md-3">
     <%= render 'form', submission: @newsubmission, end_user: @end_user %>
    </div>
     <div class="col-md-8 offset-md-1">
       <h2>投稿詳細</h2>
       <table class="table">
         <tbody>
           <tr>
             <td>
               <%= image_tag @submission.get_image(200, 200) %>
             </td>
           </tr>

             <tr>
             <td>
               <%= link_to @end_user.name, end_user_path(@end_user) %>
            </td>
            </tr>

            <tr>
             <td><%= @submission.body %></td>
             </tr>

             <tr>
             <td>
              <% if @submission.end_user == current_end_user %>
              <%= link_to "投稿を編集", edit_submission_path(@submission.id), class:"btn btn-success btn-sm" %>
              <% end %>
             </td>
             <td>
              <% if @submission.end_user == current_end_user %>
               <%= link_to "投稿を削除", submission_path(@submission.id), class:"btn btn-danger btn-sm", method: :delete, "data-confirm" => "本当に消しますか？" %>
              <% end %>
             </td>
           </tr>
         </tbody>
       </table>
     </div>
  </div>
</div>