<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">
       <h2>投稿詳細</h2>
       <table class="table">
         <tbody>
           <tr>
             <td>
               <%= image_tag @submission.get_image(200, 200) %>
             </td>
           </tr>

             <tr>
             <td>
               <%= link_to @end_user.name, end_user_path(@end_user) %>
            </td>
            </tr>

            <tr>
             <td><%= @submission.body %></td>
            </tr>

            <tr>
             <td>
              <% @submission.tags.each do |tag| %>
               <%= tag.name %>
              <% end %>
             </td>
            </tr>
            
            <tr>
                             <%= link_to "投稿を削除", admin_submission_path(@submission.id), class:"btn btn-danger btn-sm", method: :delete, "data-confirm" => "本当に消しますか？" %>
            </tr>
         </tbody>
       </table>
              <div>
        <p>コメント件数：<%= @submission.comments.count %></p>

        <table class="table table-hover table-inverse">
         <tbody>
          <% @submission.comments.each do |comment| %>
          <tr>
           <td><%= link_to comment.end_user.name, end_user_path(@end_user) %></td>
           <td><%= comment.created_at.strftime('%Y/%m/%d') %></td>
           <td><%= comment.comment %></td>
           <td>
             <% if comment.end_user == current_end_user %>
              <%= link_to "削除", submission_comment_path(comment.submission, comment), method: :delete %>
             <% end %>
            </td>
          </tr>
          <% end %>
         </table>
   </div>
  </div>
</div>
</div>